DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/geonera"
GO_DAEMON_URL="http://HOST:8080/api/v1"
RABBITMQ_URL="amqp://USER:PASSWORD@HOST:5672/geonera"
RABBITMQ_MANAGEMENT_URL="http://HOST:15672/api"
RABBITMQ_USERNAME="USER"
RABBITMQ_PASSWORD="PASSWORD"
PORT=3001
NODE_ENV=development
ADMIN_ACTION_SECRET="your-secret-here"
